html  
    head
        Title Banana Train!
        link(rel="stylesheet", type="text/css", href="styles/main.css")
    body
        h1 Banana Train
        p A productivity tool for banana brains
    script(src='js/main.js')
